<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AgentView.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0774D7FE2F0FF965000E19A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0774D80C2F0FF967000E19A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0774D8162F0FF967000E19A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
image.png